<VirtualHost *:80>
    ServerName <%= @domain_name %>
    ServerAlias www.<%= @domain_name %>
    DocumentRoot /var/www/<%= @domain_name -%>/html/
    ErrorLog /var/log/<%= @domain_name -%>_error.log
    CustomLog /var/log/<%= @domain_name -%>_access.log combined
    
   <Directory /var/www/<%= @domain_name %>>
         Options -Indexes
   </Directory>

   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
   </IfModule>    
</VirtualHost>
